.saveButton{
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  transition: opacity .3s;
  text-decoration: none;
  border: 0;
  margin: 48px 0 0 0;
  padding: 0;
}

.saveButton:hover{
  opacity: 0.8;
}

@media screen and (max-width: 880px) {
  .saveButton{
    margin: 45px 0 0 0;
  }
}
