.likeButton{
  background-image: url(../../images/Vectorlike.svg);
  width: 22px;
  height: 19px;
  position: absolute;
  bottom: 30px;
  right: 20px;
  transition: opacity .3s;
}

.likeButton:hover{
  opacity: 0.8;
}
