.element__recktangle{
  background-color: white;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 282px;
  height: 361px;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas:
  "image"
  "title";
  grid-template-rows: 282px 80px;
  justify-content: center;
  align-content: center;
}
