.button__edit{
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit_button.svg);
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  grid-area: edit;
  margin: 0;
  padding: 0;
  align-self: baseline;
  box-sizing: border-box;
  transition: opacity .3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: #000;
}
@media screen and (max-width: 880px) {
  .button__edit{
    width: 18px;
    height: 18px;
    background-size: 8px;
    justify-self: end;
  }
}

.button__edit:hover{
  opacity: 0.8;
}
