.profile__info{
  margin: 0 0 0 30px;
  padding: 0;
  grid-area: info;
  display: grid;
  grid-template-areas:
  "name edit"
  "about_me about_me";
  row-gap: 18px;
  column-gap: 18px;
  grid-template-columns: repeat(2, fit-content(520px));
  align-content: center;
}

@media screen and (max-width: 880px) {
  .profile__info{
    row-gap: 14px;
    column-gap: 10px;
    margin: 22px 0 0;
    row-gap: 14px;
  }
}
